\* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  }
body {
  background-color: rgb(255, 255, 255);
}

.active {
  border-bottom: 3px solid  black;
}

/* estilo para las imagenes del slider */
img {
  height: 550px;
  width: 100%;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;  
}

.col-4 {
  background-color: rgb(255, 255, 255);
  text-align: justify;
}

.col-12 {
  background-color: rgb(255, 255, 255);
  text-align: justify;
}

.row {
  padding: 0px 10px 0px 10px;
}

.contenido-footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  max-width: 100%;
}



